@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* testing testing testing testing */

.App {
  font-family: 'Ubuntu', sans-serif;
  color: #d3dfea;
  text-align: center;
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 100%; */
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.navLogo {
  height: 80px;
}

.navLinks {
  display: flex;
  list-style: none; 
}

.navLink {
  font-size: 14px;
  margin: 15px;
  
}

.main-container {
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mainLogo {
  max-height: 250px;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .mainLogo {
      animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.projects {
  padding: 50px
}

.projectList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  /* border: 1px orange solid; */
}

.project {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 48%;
  /* min-width: 400px; */
  /* border: 1px blue solid; */
}

.projectImg {
  height: auto;
  width: auto;
  padding: 15px
}

/* mobile */
@media (max-width: 1280px){
  .projectList {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
  .projectImg {
    height: 200px;
    width: 250px;
  }
  
}

@media (max-width: 700px){

  .project {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .projectImg {
    height: auto;
    width: 100%;
    padding: 0px

  }
  
}

a {
  color: #d3dfea;
}

a::after {
  color: #d3dfea
}

button {
  outline : 0;
  -moz-outline : 0;
  font-size: 14px;
  margin-top: 50px;
  border-radius: 10px;
  border-color: #d3dfea;
  background-color: black;
  color: #d3dfea;

}

button:hover {
  border-color: black;
  background-color: #d3dfea;
  color: black
}

