@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* testing testing testing */

.App {
  font-family: 'Ubuntu', sans-serif;
  color: #d3dfea;
  text-align: center;
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 100%; */
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.navLogo {
  height: 100px;
}

.navLinks {
  display: flex;
  list-style: none; 
}

.navLink {
  font-size: 20px;
  margin: 20px;
  
}

.main {
  padding: 200px;
}

.mainLogo {
  height: 250px;
  pointer-events: none;
}

/* ****** */
.typewriter{
  width: 250px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 5;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/* ****** */

.projects {
  padding: 50px
}

.projectList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  /* border: 1px orange solid; */
}

.project {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 48%;
  min-width: 400px;
  /* border: 1px blue solid; */
}

.projectImg {
  padding: 15px
}


